.product-category{
    padding: 20px 10px 20px 10px;
    background-color: #e3e6e6;
}
.category-main{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0px 0px 15px 0px;
}
.category-main-vertical{
    /* width: 20px; */
    border-left: 5px solid #FBDB22;
    height: 40px;
    border-radius: 5px;
}
.category-main-text{
    font-size:25px;
    font-weight: bold;
}



@media (max-width: 480px) {


}

@media (max-width: 768px) {

    .product-category{
        padding: 10px 5px 10px 5px;
    }
    .category-main-vertical{
        /* width: 20px; */
        border-left: 5px solid #FBDB22;
        height: 30px;
        border-radius: 5px;
    }
    .category-main-text{
        font-size:18px;
        font-weight: bold;
    }



}

@media (max-width: 1024px) {

}