.error-page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
}
.error-title{
    font-size: 60px;
}
.error-subtitle{
    font-size: 30px;
}
.error-sub{
    font-size: 20px;
    margin: 10px;
}